# dependencies
node_modules
bower_components
package-lock.json

# compiled output
/dist
/build
/.tmp

# System Files
.DS_Store
Thumbs.db

# editor
.idea/

# project
.env
composer.lock
vendor/
storage/
